resources:
- type: gcp-types/compute-v1:instanceTemplates
  name: instance-template-{{ env["deployment"] }}
  properties:
    project: {{ env["project"] }}
    properties:
      machineType: f1-micro
      disks:
      - deviceName: boot
        boot: true
        type: PERSISTENT
        autoDelete: true
        mode: READ_WRITE
        initializeParams:
          diskName: template-disk-{{ env["deployment"] }}
          sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/debian-7-wheezy-v20140619
      networkInterfaces:
        - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
